<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vue.js Sandbox</title>
</head>
<body>

<div id="root">

  <h1>Incomplete Tasks</h1>

  <ul>
    <li v-for="task in incompleteTasks">
      <input type="checkbox" v-model="task.done" @click="toggleState(task)">
      <input type="text" v-model="task.body">
    </li>
  </ul>

  <h1>Completed Tasks</h1>

  <ul>
    <li v-for="task in completedTasks">
      <input type="checkbox" v-model="task.done" @click="toggleState(task)">
      <input type="text" v-model="task.body">
      Completed at: {{ task.done_at | formatDate }}
    </li>
  </ul>

</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.0/locale/zh-tw.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.3/vue.js"></script>


<script>

function randomDate(start, end) {
    return new Date(start.getTime() + Math.random() * (end.getTime() - start.getTime()))
}

Vue.filter('formatDate', function (value) {
  if (value) {
    return moment(value).format('MM/DD/YYYY hh:mm:ss')
  }
})

let defaultTasks = [
    { body: 'Clear the room', done: false, done_at: null },
    { body: 'Read the book', done: false, done_at: null },
    { body: 'Lorem Ipsum', done: true, done_at: randomDate(new Date(2012, 0, 1), new Date) },
    { body: 'Getting things done', done: false, done_at: null },
    { body: 'Go to movie.', done: true, done_at: randomDate(new Date(2012, 0, 1), new Date) },
    { body: 'Programing', done: false, done_at: null },
]

let tasks = JSON.parse(localStorage.getItem('tasks')) || defaultTasks
localStorage.setItem('tasks', JSON.stringify(tasks))


var root = new Vue({

    el: '#root',

    data: {
        tasks: tasks
    },

    computed: {
        completedTasks: function () {
            return this.tasks.filter(task => task.done)
        },

        incompleteTasks: function () {
            return this.tasks.filter(task => ! task.done)
        }
    },

    methods: {


        toggleState: function (task) {
            task.done    = !task.done
            task.done_at = new Date()

            if (!task.done) {
              task.done_at = null
            }

            this.save()
        },


        save: function () {
            localStorage.setItem('tasks', JSON.stringify(this.tasks))
        }


    }

})


</script>


</body>
</html>
